<h3>Confirm Information</h3>
<p>
	<strong>Name</strong>
	<%=h @budget.name %>
</p>
<p>
	<strong>Description</strong>
	<%=h @budget.description %>
</p>
<p>
	<strong>Allowance</strong>
	<%=h @budget.allowance %>
</p>
<p>
	<strong>Target</strong>
	<%=h @budget.target %>
</p>
<p>
	<strong>Start Month</strong>
	<%=h @budget.start_date %>
</p>



