<% provide(:title, 'Create Budget') %>
<h1>Create Budget</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@budget) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>                

      <%= render "#{@budget.current_step}_step", :f => f %>

      <%= f.submit "Back", name: "back_button", class: "btn btn-primary" unless @budget.first_step? %>
      <% if @budget.last_step? %>
        <%= f.submit "Save", class: "btn btn-primary" %> 
      <% else %>
        <%= f.submit "Next", class: "btn btn-primary" %>      
      <% end %>
    <% end %>
  </div>
</div>